.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.home__bold {
    color: #8ABDEB;
    text-shadow: 1px 1px 0px #0A0A15;
    font-family: Chivo Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 137.5%;
    /* 16.5px */
    letter-spacing: -0.36px;
    margin-bottom: 20px;
}

.home__light {
    color: #8ABDEB;
    font-family: Chivo Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 137.5%;
    letter-spacing: -0.36px;
    margin: 20px 0;
}

.home__btnList {
    color: #8ABDEB;
    text-shadow: 1px 1px 0px #0A0A15;
    font-family: Chivo Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 137.5%;
    /* 24.75px */
    letter-spacing: -0.54px;
}

.input__and__button {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
}

.link__buttonJoin {
    border-radius: 20px;
    background: rgba(0, 234, 150, 0.8);
    /* background: rgba(0, 234, 150, 0.8); */
    font-family: Chivo Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: rgba(00, 00, 00, 0.7);
    border: 5px solid #44FFBC;
    mix-blend-mode: screen;
    /* filter: blur(15px); */
    padding: 12px 20px;
}

.link__buttonVerify {
    padding: 12px 15px;
    border-radius: 20px;
    font-family: Chivo Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: rgba(00, 00, 00, 0.7);
    border: 5px solid #15313A;
    background: #11282F;
    box-shadow: 1px 1px 0px 0px #0A0A15;
}

.link__buttonVerified {
    padding: 12px 15px;
    border-radius: 20px;
    font-family: Chivo Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: rgba(00, 00, 00, 0.7);
    border: 5px solid #44FFBC;
    background: #44FFBC;
    box-shadow: 1px 1px 0px 0px #0A0A15;
}

.link__button {
    border-radius: 20px;
    background: rgba(0, 234, 150, 0.8);
    /* background: rgba(0, 234, 150, 0.8); */
    font-family: Chivo Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: rgba(00, 00, 00, 0.7);
    border: 5px solid #44FFBC;
    mix-blend-mode: screen;
    /* filter: blur(15px); */
    padding: 12px 20px;
}

.button__input {
    border-radius: 20px;
    background: #162533;
    font-family: Chivo Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: rgba(00, 00, 00, 0.7);
    border: 5px solid #44FFBC;
    mix-blend-mode: screen;
    /* filter: blur(15px); */
    padding: 12px 20px;
    width: 100%;
    outline: none;

}

::placeholder {
    color: #4C6983;
    font-family: Chivo Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 95%;
    /* 15.2px */
}

.home__paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.eth__address,
.submit__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin: 15px 0;
    width: 55%;
    margin-right: -5%;

}

button {
    cursor: pointer;
}

.twitter__paragraphBold {}

.twitter__paragraphBold {}


@media screen and (max-width:570px) {
    .home{
        padding: 30px;
    }
    .input__and__button {
        flex-wrap: wrap;
        gap: 20px;
    }
    .home__paragraphs {
        width: 100%;
    }
    .eth__address,
.submit__button {
    width: 100%;
    margin-right: 0%;

}
}